<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomXIBSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>282FFA0B1B739AB200C236E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>282FFA1F1B739AB200C236E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>282FFA2A1B739AB200C236E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
